body {
    background-color: #cccccc20;
    background-image: url("images/imageblackrhino.png");
    background-repeat: no-repeat;
}

.big-title {
    color: #010101;
    text-shadow: 2px 2px #ffff00;
    text-align: center;
    font-size: 100px;
}